body {
  min-width: 320px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  color: #6f6c7f;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* IE 10+ */
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: #36324a;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 55px;
}

h2 {
  font-family: sans-serif;
  font-size: 40px;
  line-height: 55px;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 25px;
  font-family: sans-serif;
}

h5 {
  font-family: sans-serif;
  font-size: 20px;
}

p {
  font-family: sans-serif;
  line-height: 30px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
}


button, 
button:active, 
button:focus {
    outline: none;
}

.btn-white {
  border: 2px solid #5b39c9;
  background: #fff;
  border-radius: 30px;
  padding: 16px 36px;
  color: #36324a;
}

.btn-white:hover {
  color: #fff;
  background-color: #36324a;
  border-color: #36324a;
  transition: linear 0.2s;
}

.btn-rose {
  border: 2px solid #f77ade;
  background: #f77ade;
  border-radius: 30px;
  padding: 16px 36px;
  color: #fff;
}

.btn-rose:hover {
  color: #fff;
  background-color: #36324a;
  border-color: #36324a;
  transition: linear 0.2s;
}
/* Modal */
#myModal {
  width: 50%; height: 400px;
  min-width: 250px;
  padding: 18px 9px;
  border-radius: 4px;
  background: #fafafa;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 38;
  text-align: center;
}
#myModal button{
  margin-top: 30px;
}
#myModal #myModal__close {
  width: 21px; height: 21px;
  position: absolute;
  font-size: 29px;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
}
#myOverlay {
  z-index: 37;
  position: fixed;
  background: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}

/* Header */
.main-header {
  width: 100%;
  padding: 30px 0;
  position: fixed;
  z-index: 998;
  background-color: #fff;
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu ul li {
  display: inline-block;
  padding-left: 19px;
  padding-right: 19px;
}
.header-menu ul li a {
  padding: 23px 0;
  font-size: 16px;
  color: #36324a;
  font-weight: 500;
}
 #ul_big li a.active {
  color: #f77ade;
  font-weight: 500;
}
 #ul_small li a.active {
  color: #f77ade;
  font-weight: 700;
}

#navbarNavAltMarkup {
  position: fixed;
  left: 10%;
  top: 90px;
  width: 80%;
  z-index: 999;
  color: red;
  background-color: #5b39c9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#navbarNavAltMarkup li a {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
}
#navbarNavAltMarkup li {
  padding: 5px 20px;
  border-bottom: 1px solid #fff;
}

/* Banner */
.banner {
  background-color: #f7f6f9;
  padding-top: 150px;
  padding-bottom: 80px;
}
.banner-text-inner h1 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 600;
  color: #36324a;
  margin-bottom: 33px;
}
.banner-text-inner p {
  margin-bottom: 43px;
}

/* Section-Features */
.section-features {
  margin-top: 80px;
  margin-bottom: 80px;
}
.features-title h2 {
  color: #36324a;
  font-weight: 600;
  margin-bottom: 30px;
}
.feature-carousel {
  padding-top: 10px;
  padding-bottom: 10px;
}
.single-feature-inner p {
  margin-bottom: 0;
  color: #6f6c7f;
  font-size: 16px;
  line-height: 30px;
}
.single-feature-inner h5 {
  margin-bottom: 34px;
  color: #36324a;
  font-weight: 600;
}
.single-feature-inner {
  padding: 24px 10px 66px;
  height: 400px;
}
.active-single-feature-inner {
  border: 4px solid #5b39c9;
  padding: 0;
  border-radius: 10px;
  height: 400px;
  color: #f77ade;
}
.single-feature-inner i {
  margin: 30px 0;
}
.feature-carousel button.owl-dot {
  height: 7px;
  width: 7px;
  background: #ded7f4;
  margin-right: 5px;
  border-radius: 50%;
  transition: 0.3s all linear;
  line-height: 10px;
  vertical-align: middle;
}
.feature-carousel button.owl-dot.active {
  background: #5b39c9;
  height: 10px;
  width: 10px;
}
.feature-carousel .owl-dots {
  margin-top: 20px;
  text-align: center;
}
.owl-carousel .owl-dots.disabled {
  display: block;
}

/* Counter */
.section-counter {
  padding-bottom: 80px;
  padding-top: 120px;
}
.single-counter .counter {
  font-size: 60px;
  font-weight: 200;
  color: #5b39c9;
  line-height: 42px;
  margin-bottom: 21px;
  display: block;
}
.single-counter p {
  font-size: 18px;
  color: #36324a;
  font-weight: 400;
  margin-bottom: 0;
}

/* Section-Interact */
.section-interact {
  background-color: #f7f6f9;
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-interact .interact-icon {
  width: 65px;
  height: 65px;
}
.user-interact-inner h2 {
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 29px;
}

/* Section-Interact-part2 */
.section-interact-part2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-interact-part2 .interact-icon {
  width: 65px;
  height: 65px;
  margin-bottom: 30px;
}

/* app-video */
section.app-video {
  background-image: url(../img/video-bg.jpg);
  background-size: cover;
  background-position: 0% 78%;
  background-repeat: no-repeat;
  position: relative;
}
section.app-video:before {
  content: "";
  background: #5b39c9;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
}
.theme-video-wrap {
  display: flex;
  justify-content: center;
  padding-top: 325px;
  padding-bottom: 325px;
}
.theme-video-wrap i {
  color: #f77ade;
  position: absolute;
  top: 41px;
  left: 55px;
}
section.app-video .play {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
}

/* Section-app */
.section-app {
  margin-top: 80px;
  margin-bottom: 80px;
}
.section-app h2 {
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 29px;
}
.app-scrin-inner {
  position: relative;
  overflow: hidden;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: -72px;
}
.app-carousel-inner {
  position: relative;
  width: 450px;
  height: 770px;
  margin: 0 auto;
  padding: 108px 70px;
  margin-top: 12px;
  background-image: url(../img/mockup.png);
}
.app-carousel .owl-stage-outer {
  overflow: visible;
}
.app-carousel .single-app-image img {
  display: block;
  width: 90%;
  height: 95%;
  margin: 40px auto;
  top: 20px;
}
.app-carousel button.owl-dot {
  height: 7px;
  width: 7px;
  background: #ded7f4;
  margin-right: 5px;
  border-radius: 50%;
  transition: 0.3s all linear;
  line-height: 10px;
  vertical-align: middle;
}
.app-carousel button.owl-dot.active {
  background: #5b39c9;
  height: 10px;
  width: 10px;
}
.app-carousel .owl-dots {
  text-align: center;
  margin-top: 84px;
}

/* section-pricing */
.section-pricing {
  margin-top: 80px;
  margin-bottom: 80px;
}
.section-pricing h2 {
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 29px;
}
.price-nav-wrap {
  margin-bottom: 60px;
}
.price--nav-inner .info-tabs a {
  padding: 10px 30px;
  color: #f77ade;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.price--nav-inner .info-tabs {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #f7f6f9;
}
.price--nav-inner {
  text-align: center;
  padding-bottom: 20px;
}
.price--nav-inner .info-tabs a.active {
  color: #fff;
  z-index: 1;
  background: #f77ade;
}
.single-price-top h4 {
  color: #36324a;
  margin-bottom: 25px;
}
.single-price-top span {
  font-size: 60px;
  font-weight: 200;
  color: #f77ade;
  display: block;
  line-height: 40px;
}
.single-price-top {
  margin-bottom: 50px;
}
.single-price-body .price-list ul {
  list-style: none;
  padding: 0;
}
.single-price-body .price-list li {
  color: #6e6b7e;
}
.single-price-body .price-list li span i.fa-check {
  color: #6ac376;
}
.single-price-body .price-list li span i.fa-times {
  color: #ed4d58;
}
.single-price-body button {
  margin-top: 41px;
}
.single-price-plan {
  border: 4px solid #f7f6f9;
  border-radius: 10px;
  padding: 55px 0 50px;
  margin-bottom: 60px;
}
.single-price-plan.active {
  border: 4px solid #5b39c9;
  border-radius: 10px;
  padding: 85px 0 80px;
  margin-top: -30px;
  margin-bottom: 30px;
}
.single-price-plan.active button {
  color: #fff;
  background: #5b39c9;
}
.single-price-plan button:hover{
  color: #fff;
  background: #5b39c9;
  border: #5b39c9 2px solid;
}
.single-price-plan:hover {
  border: 4px solid #5b39c9;
  border-radius: 10px;
  padding: 85px 0 80px;
  margin-top: -30px;
  margin-bottom: 30px;
  cursor: pointer;
}
/* section-author-carousel */
.Section-author-carousel {
  background-color: #f7f6f9;
  padding-top: 80px;
  padding-bottom: 80px;
}
.author-carousel .owl-nav {
  display: none;
}
.testimonial-author-carousel {
  max-width: 326px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 75px;
}
.testimonial-author-inner {
  width: 100px;
  margin: 10px auto 10px;
  padding-left: 5px;
}
.testimonial-author-carousel .owl-stage-outer {
  overflow: visible;
}
.center .single-author-image img {
  transform: scale(1.2);
}
.author-comment-carousel .owl-prev,
.author-comment-carousel .owl-next {
  height: 65px;
  width: 65px;
  background: #fff !important;
  position: absolute;
  border-radius: 50%;
  right: -36%;
  top: -10%;
  transition: 0.3s all linear;
}
.author-comment-carousel .owl-prev {
  left: -36%;
}
.author-comment-carousel .owl-prev:hover,
.author-comment-carousel .owl-next:hover {
  background: #e3e2e7 !important;
  color: #fff !important;
}
.single-author-comment h4 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 34px;
  color: #36324a;
}
.single-author-comment p {
  color: #f77ade;
  margin-bottom: 0;
}

/* Sectiom-partner */
.Section-partner {
  padding: 100px 0;
}
.partner-carousel .single-partner img {
  width: inherit !important;
  margin: 0 auto;
  opacity: 0.5;
}
.partner-carousel .single-partner:hover img {
  opacity: 1;
}

/* Section-blog */
.Section-blog {
  padding: 80px 0;
}
.Section-blog h2 {
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 29px;
}
.single-blog-inner .post-date p {
  margin-bottom: 0;
  line-height: 25px;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #36324a;
  font-weight: 600;
}
.single-blog-inner .post-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.single-blog-inner .post-date {
  position: absolute;
  top: 10px;
  height: 65px;
  width: 65px;
  background: #fff;
  border-radius: 50%;
  left: 10px;
  text-align: center;
  line-height: 65px;
}
.single-blog-inner .post-title h3 {
  margin-top: -7px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
}
.single-blog-inner .post-title h3 a {
  transition: 0.3s all linear;
  color: #36324a;
}
.single-blog-inner .post-title h3:hover a {
  color: #f77ade;
}
.single-blog-inner {
  margin-bottom: 30px;
  background: #fff;
}
.single-blog-inner .post-details p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
  color: #6f6c7f;
}
.single-blog-inner .post-details a {
  transition: 0.3s all linear;
}

.single-blog-inner .post-details a:hover {
  color: #f77ade;
}
.post-details {
  padding: 47px 0 0 0;
}
.single-blog-inner:hover .post-image {
  box-shadow: 0 13px 30px rgba(0, 0, 0, 0.2);
}
.post-image {
  transition: 0.3s all linear;
}
.single-blog-inner .post-info {
  margin-bottom: 14px;
}
.single-blog-inner .post-info a {
  color: #f77ade;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  position: relative;
}
.single-blog-inner .post-info a + a {
  margin-left: 30px;
}

.single-blog-inner .post-image img {
  width: 100%;
}
.single-blog-inner .post-details .blog-btn:hover,
.single-blog-inner .post-details .blog-btn {
  color: #5b39c9;
  position: relative;
}
.single-blog-inner .post-details .blog-btn {
  font-size: 14px;
  font-weight: 500;
}
.post-date p span {
  display: block;
  line-height: 1;
}

/*Section-download*/
.Section-download-app {
  padding-top: 110px;
  padding-bottom: 150px;
}
.download-app-inner {
  padding: 0 90px;
  max-width: 920px;
  text-align: center;
}
.download-app-inner h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 18px;
}
.download-app-inner h3 {
  font-size: 24px;
  color: #6f6c7f;
  font-weight: 400;
  margin-bottom: 80px;
}
.download-app-inner .btn {
  border-color: #f77ade;
  color: #fff;
  background: #f77ade;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  padding: 23px 60px;
}
.download-app-inner button:hover {
  border-color: #36324a;
  background: #36324a;
}
.Section-download-app button {
  width: 270px;
  height: 80px;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  padding: 23px 60px;
}

/* Footer */
.footer-top {
  padding-top: 120px;
  padding-bottom: 110px;
  background-color: #f7f6f9;
}
.address-list li:hover span i,
.widget-body .extra-link .link-right ul li a:hover,
.widget-body .extra-link .link-left ul li a:hover {
  color: #f77ade;
}
.footer-widget .footer-logo {
  margin-bottom: 38px;
}
.widget-header h5 {
  font-weight: 600;
  margin-bottom: 35px;
}
.widget-header {
  margin-top: 11px;
}
.address-list {
  padding: 0;
}
.address-list ul li span i {
  font-size: 14px;
}
.address-list li span {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  left: 0;
  position: absolute;
}
.address-list li {
  padding-left: 30px;
  position: relative;
}
.widget-body .extra-link .link-left {
  float: left;
}
.widget-body .extra-link .link-right {
  float: right;
}
.widget-body .extra-link .link-right ul,
.widget-body .extra-link .link-left ul {
  padding: 0;
}
.widget-body ul {
  list-style-type: none;
}
.widget-body .extra-link .link-right ul li a,
.widget-body .extra-link .link-left ul li a {
  color: #6f6c7f;
  line-height: 1.4;
  display: block;
}
.widget-body .extra-link .link-right ul li,
.widget-body .extra-link .link-left ul li {
  padding-bottom: 18px;
}
.social-icons {
  display: flex;
  justify-content: space-around;
}
.social-icons li a {
  color: #6f6c7f;
  font-size: 20px;
}
.social-icons li a:hover {
  color: #f77ade;
}
.footer-post-details:after {
  height: 31px;
  width: 69px;
  background: #fff;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 20px;
  transform: rotate(-34deg);
}

.twetter-post {
  padding-left: 20px;
}
.twetter-post span {
  margin-right: 7px;
  color: #f77ade;
  font-size: 20px;
}
.footer-post-details {
  padding: 32px 20px 36px 40px;
  position: relative;
  background: #fff;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.footer-post-details a {
  text-decoration: none;
  color: #f77ade;
}
.footer-bottom {
  background: #fff;
  padding: 33px 0 49px;
  position: relative;
}
.footer-bottom p {
  margin-bottom: 0;
  line-height: 1;
  color: #6f6c7f;
  font-size: 16px;
}

/* Media */
@media (max-width: 1199px) {
  .header-menu ul li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .single-author-comment h4 {
    font-size: 25px;
    line-height: 42px;
    margin-bottom: 24px;
  }
  .author-comment-carousel .owl-prev {
    top: -36%;
    left: -20%;
  }
  .author-comment-carousel .owl-next {
    top: -36%;
    right: -20%;
  }
  .Section-download-app {
    padding: 50px 0;
  }
  .download-app-inner h2 {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .download-app-inner h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .download-app-inner {
    padding: 0 80px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2,
  h3,
  h4,
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
  .single-author-comment h4 {
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2,
  h3,
  h4,
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
  .banner-text-inner h1,
  p {
    text-align: center;
  }
  .banner-image {
    display: flex;
    justify-content: center;
  }
  .banner-btn {
    display: flex;
    justify-content: space-evenly;
  }
  .btn-menu-header {
    margin-left: 80%;
  }
  .banner button {
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .single-counter p {
    margin-bottom: 20px;
  }
  .section-interact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-interact-part2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .theme-video-wrap {
    padding-top: 259px;
    padding-bottom: 258px;
  }
  .author-comment-carousel .owl-prev {
    left: 0%;
    right: auto;
    height: 40px;
    width: 40px;
    line-height: 33px !important;
    top: -30%;
  }
  .author-comment-carousel .owl-next {
    height: 40px;
    width: 40px;
    line-height: 33px !important;
    top: -30%;
    right: 0%;
    padding-left: 2px;
  }
  .Section-download-app {
    padding: 50px 0;
  }
  .download-app-inner h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 25px;
  }
  .download-app-inner h3 {
    font-size: 16px;
    margin: 20px 0;
  }
  .download-app-inner {
    padding: 0 80px;
  }
  .download-app-inner button {
    width: 170px;
    height: 50px;
    padding: 9px 33px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
  h2,
  h4,
  h5 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .main-header {
    padding: 10px 0;
  }
  .banner {
    padding: 10px 0;
  }
  .banner-text-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
  }
  .btn-rose {
    border-radius: 20px;
    padding: 8px 18px;
  }
  .btn-white {
    border-radius: 20px;
    padding: 8px 18px;
  }
  .banner button {
    margin-right: 0;
  }
  .section-features {
    margin: 10px 0;
  }
  .single-counter p {
    margin-bottom: 25px;
  }
  .section-interact .interact-icon {
    display: none;
  }
  .section-interact h2,
  p {
    text-align: center;
  }
  .section-interact-part2 .interact-icon {
    display: none;
  }
  .section-interact-part2 h2,
  p {
    text-align: center;
  }
  .theme-video-wrap {
    padding-top: 259px;
    padding-bottom: 258px;
  }
  .section-app {
    margin: 10px 0;
  }
  .section-app h2,
  p {
    margin: 0;
  }
  .section-pricing {
    margin: 20px 0;
  }
  .section-pricing h2 {
    margin: 10px;
  }
  .section-pricing p {
    margin-bottom: 20px;
  }
  .app-scrin-inner {
    margin-top: -30px;
  }
  .app-carousel {
    overflow: hidden;
  }
  .app-carousel-inner {
    position: relative;
    width: 350px;
    height: 630px;
    margin: 0 auto;
    padding: 10px 10px;
    margin-top: 12px;
    background-size: cover;
  }
  .app-carousel .owl-dots {
    margin-top: 0;
    margin-left: 18px;
  }
  .app-carousel .single-app-image img {
    display: block;
    width: 72%;
    height: 95%;
    margin: 100px 54px 90px 54px;
  }
  .Section-author-carousel {
    margin: 0;
    padding: 50px 0;
  }
  .single-author-comment h4 {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .testimonial-author-carousel {
    max-width: 326px;
    margin: 0 auto;
    overflow: hidden !important;
    padding-bottom: 20px;
  }
  .testimonial-author-inner {
    padding-bottom: 20px;
  }
  .Section-blog {
    padding: 0 20px;
  }
  .Section-blog h2 {
    margin: 20px 0 0 0;
  }
  .Section-blog .single-blog-inner {
    margin: 20px 0;
  }
  .Section-blog .post-details {
    padding: 15px 0 0 0;
  }
  .Section-blog .single-blog-inner .post-title h3 {
    line-height: 15px;
  }
  .Section-blog .single-blog-inner .post-details p {
    font-size: 13px;
    text-align: left;
    margin: 0;
    line-height: 15px;
    margin: 10px 0;
  }
  .Section-blog .single-blog-inner .post-title h3 {
    font-size: 15px;
    margin: 0;
  }
  .Section-download-app {
    padding: 20px;
  }
  .download-app-inner h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .download-app-inner h3 {
    font-size: 13px;
    margin: 20px 0;
  }
  .download-app-inner {
    padding: 0;
  }
  .download-app-inner button {
    width: 170px;
    height: 50px;
    padding: 9px 5px;
    font-size: 14px;
  }
  .footer-top {
    padding: 20px;
  }
  .footer-top h5 {
    margin-bottom: 15px;
  }
  .footer-top .extra-link {
    padding: 0 40px;
  }
  .footer-top .address-list {
    padding: 0 40px;
  }
  .footer-bottom {
    padding: 15px 0;
  }
  .footer-widget .footer-logo {
    margin-bottom: 20px;
  }
  #navbarNavAltMarkup {    
    top: 76px;   
  }
  .banner-area{
    margin-top: 75px;
  } 
}
